*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover {
    text-decoration: underline;
    background-color: rgb(65, 83, 250);
  }
  ul li {
    padding: 0 10px;
    display: inline-block;
  }
  a{
    text-decoration: none;
  }