
  *{
  box-sizing: border-box;
  margin:0;
  }
a:hover {
  text-decoration: underline;
  background-color: rgb(179, 143, 212);
}
ul li {
  padding: 0 10px;
  margin: 0%;
}
a{
  text-decoration: none;
}
ul.breadcrumb {
    list-style: none;
    margin: 0%;
}

ul.breadcrumb li {
  display:inline-block;
  padding: 0%; 
  font-size: 10px;
  margin:0;

}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: ">\00a0";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}  
  .uldisplay{
    box-sizing: content-box;
    border: solid #000000 2px;
    display:flex;
    text-align: center;
    font-size: 10px;
    padding: 10px;
  }

.borderstyle{
  border-color: black;
  border-width: 2px;
  border-style: solid;
  width:100%;
  padding: 7px;
}
img{
  width:100%;
}
.grey-text{
  color :grey
}
.green-text{
  color :green
}
span{
  text-decoration: underline;
 
}
.smaller-image{
width:200px ;

}
.sfs{
    display: flex;
}
