
  *{
  box-sizing: border-box;
  margin:0;
  }
a:hover {
  text-decoration: underline;
  background-color: rgb(179, 143, 212);
}
ul li {
  padding: 0 10px;
  margin: 0%;
}
a{
  text-decoration: none;
}
ul.breadcrumb {
    list-style: none;
    margin: 0%;
}

ul.breadcrumb li {
  display:inline-block;
  padding: 15px; ; 
  font-size: 10px;
  margin:0;

}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: ">\00a0";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}  
  .uldisplay{
    box-sizing: content-box;
    border: solid #000000 2px;
    display:flex;
    text-align: center;
    font-size: 10px;
    padding: 10px;
  }

.borderstyle{
  border-color: black;
  border-width: 2px;
  border-style: solid;
  width:80%;
  padding: 7px;
  margin: auto;
  margin-top: 30px;
}
img{
  width:100%;
}
.grey-text{
  color :grey
}
.green-text{
  color :green
}
span{
  text-decoration: underline;
 
}
.smaller-image{
display: block;
margin: auto ;
text-align: center;
width: 150px;
margin-top: 20px;
margin-bottom: 20px;
}
.sfs{
  display: flex;
}
.alts{
  align-items: none;
}
@media screen and (min-width:900px) {
  *{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
.borderstyle{
  border-color: black;
  border-width: 2px;
  border-style: solid;
  width:200px;
  padding: 7px;
  display: inline-block;
}
.alts{
  align-items:center;
}
.uldisplay{
  box-sizing: content-box;
  text-align:justify;
    border: none;
    display:inline-flex;
    font-size: 15px;
    padding: none;
    float:left;
    width: 60%;
    padding: 45px;
}

.smaller-image{
  text-align: none;
}
.logo{
  float: left;
  width: 15%;
}
.clear{clear: both;}

}
@media screen and (min-width:600px){

  .uldisplay{
    box-sizing: content-box;
    text-align:justify;
      border: none;
      display:inline-flex;
      font-size: 15px;
      padding: none;
      float:left;
      width: 40%;
      padding: 20px;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    align-items: center;
  }
  .mrg{
    margin: 5%;
  }
  a:hover {
    text-decoration: underline;
    background-color: rgb(179, 143, 212);
  }

  
}
@media print {
  nav{
    display: none !important;
  }
}