*{
    box-sizing: border-box;
    margin:0;
    }
body{
    background-image: url("200005111_N13_medium.png.jpg");
    background-color: #cccccc;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.txt{
    /* display: flex; */
    /* align-items: center; */
    padding: 30px;
    margin: 30px;
    position: relative;left:550px; top:-125px;
   
}
.txt li{
    display: inline-block;
    padding: 10px;
}
h1{
    position: relative;left:190px; top:-150px;
}
p{
    position: relative;left:190px; top:-150px;
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.pxp{
    background-color: rgba(245, 245, 245, 0.671);
    padding: 40px;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;left:30px; top:-90px;
}
.txt li a{
    color: rgb(0, 0, 0);
    font-size: 30px;
    padding: 30px;
    text-decoration: none;
}
header{
    padding: 10px;
    margin: 3px;
}
a:hover{
    text-decoration: underline;
    background-color: rgba(179, 143, 212, 0.205);
}

h2{
width: 100%;
margin-left: 25px;
padding: 15px;
}
label{
    font-size: 18px;
}
button{
    width: 100px;
    height: 25px;
}
#chambre{
    width: 250px; ;
}
#propriété{
    width: 190px;
}